
header .logo, .linha-h3-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 70px;
}


.linha-h3-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.linha {
    background-color: aliceblue;
    width: 50px;
    height: 1px;
    transform: rotate(90deg);
    transform-origin: center; 
    margin: 0; 
}

/* Refinar barra de pesquisa */
header .pesquisa {
    display: flex;
    align-items: center;
    margin-left: 700px; 
    gap: 10px;
}


header .pesquisa input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(241, 238, 238);
    outline: none;
    background: #C11616;
    font-size: 14px;
    width: 200px; 
    transition: width 0.3s ease; 
}

header .pesquisa input:focus {
    width: 250px; 
    border-color: white; 
}

header .pesquisa img {
    width: 20px;
    height: 20px;
}

/* Outras configurações */
header {
    max-height: 70px; 
    padding: 10px 20px; 
    background: #C11616; 
    color: white;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav{
    margin-right: 100px;
}

/*---------------------------------------------------------/*

/* Estilo para a área principal */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.noticia .autor-data {
    font-size: 14px;
    color: #333;
    background-color: #EFF2F7; /* Fundo específico para esta área */
    padding: 5px 10px;
    border-radius: 4px; /* Bordas arredondadas */
    margin-bottom: 20px;
}

.noticia .autor-link {
    color: red; /* Cor do link em vermelho */
    text-decoration: none; /* Remove sublinhado */
}

.noticia .autor-link:hover {
    text-decoration: underline; /* Adiciona sublinhado no hover */
}

.noticia .historia {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.noticia .continuar-ler {
    color: #8D9AA6;
    text-decoration: none;
    background: linear-gradient(90deg, #EFF0F2 0%, rgba(249, 250, 252, 0.00) 50.31%);
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.noticia .continuar-ler:hover {
    background: linear-gradient(90deg, #EFF0F2 0%, rgba(249, 250, 252, 0.00) 50.31%);
}

.noticia .continuar-ler::after {
    content: '→';
    font-size: 18px;
}

.noticia h1{
    font-size: 40px;
font-style: normal;
font-weight: 800;
}

p{
    color: black;
}

.ultimos-posts h3 {
    color: #8D9AA6; /* Cor do título */
    margin-bottom: 10px; /* Espaço abaixo do título */
}

hr{
    color: #8D9AA6;
}

.linhared{
    width: 81px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 5px;
background: linear-gradient(90deg, #F00 0%, rgba(255, 0, 0, 0.46) 60.12%);
margin-top: 100px;
}

.ver-todas{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    color: #707C8C;
}

h2{
    color: #8D9AA6;
}

.links a{
    border: 1px solid #e05f5f;
    padding: 6px 16px;
    text-decoration: none;
    color: #e05f5f;
}

.links{
    display: flex;
    justify-content: space-between;

}

.linhaf{
    width: 60px;
height: 1px;
flex-shrink: 0;
background: var(--ui-color-danger-dark, #C11616);
}

/* Estilos gerais da galeria */
.galeria{width: 100%;}
.galeria h2{color: #EB5151;}
.galeria .galeria-container{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}
.galeria .galeria-fotos .fotos{
    border: 1px solid red;
    width: 50%;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    gap: 16px;
    align-items: center;
}
.galeria .galeria-fotos .fotos div{height: 310px;}
.galeria .galeria-videos .videos{
    border: 1px solid red;
    width: 50%;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    gap: 16px;
    align-items: center;
}
.galeria .galeria-videos .videos div{height: 310px;}


/* Estilos gerais da serie de posts */

.blo{
    width: 280px;
    height: 260px;
    border-radius: 5px;
    border: 1px solid #eb5151;
}


/* Estilos gerais do footer */
footer {
    background-color: #F9FAFC;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-line {
    width: 50px;
    height: 2px;
    margin-bottom: 10px;
    background: var(--ui-color-danger-dark, #C11616);
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
}

.footer-bottom {
    position: relative;
    text-align: center;
    margin-top: 60px;
}

.bar {
    width: 100%;
    height: 1px;
    background-color: #EFF2F7;
    position: absolute;

}

@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    .noticia {
        padding: 15px;
    }

    .noticia h1 {
        font-size: 20px;
    }

    .noticia .autor-data {
        font-size: 12px;
    }

    .noticia .historia {
        font-size: 14px;
    }

    .noticia .continuar-ler {
        font-size: 14px;
        padding: 8px 15px;
    }
}

/*---------------------------------------------------------/*



